.boxed {
  border: 1px solid green;
  background-color: white;
  margin-bottom: 10px;
  color: black;
}

.nav {
  padding-top: 15px;
  padding-bottom: 15px;
  background-size: cover;
  background-color: #333333;
  position: sticky;
  top: 0;
}

.App {
  margin: 0px;
  padding-left: 3%;
  padding-right: 3%;
  color: black;
}

.center {
  text-align: center;
}

.titleCenter {
  text-align: center;
  padding-top: 7%;
  padding-bottom: 2%;
  font-size: 500%;
}

.homeSearchContainer {
  padding-bottom: 7%;
}

#homeSearch {
  width: 490px;
  height: 30px;
  padding-left: 10px;
}

#homeSearchButton {
  background-color: gold;
  color: black;
  height: 36px;
}

.searchBackground {
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  /* margin-left: -5%;
  margin-right: -5%; */
}