.boxed {
  border: 1px solid green;
  background-color: white;
  border-radius: 12px;
  margin-bottom: 20px;
  color: black;
}

.App {
  background-color: #f5f5f5;
  margin: 0px;
  /* padding-left: 3%;
  padding-right: 3%; */
  color: black;
}

.center {
  text-align: center;
}

/* .background-fixed {
  top: 0;
  z-index: -1;
  position: fixed; 
  background-image: url("../images/gagnon-removable-abstract-watercolor-background-wall-mural.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  width: 100%;
  margin-left: -3%;
  margin-right: -3%;
} */

.content-container {
  padding-left: 3%;
  padding-right: 3%;
}

.buynow {
  color: white;
  position: fixed;
  top: 0;
  left: 50%;
  background-color: #333333;
  transform: translate(-50%, 0);
  margin-top: 7%;
  padding: 20px;
  text-align: center;
}